.wrapper{
    
    display: flex;
    background-image: url('../ItemDetail/backgroundImg.jpg');
    flex-direction: column;
    
}

.cartWrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    
}

.cart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.cartItem{
    width: 80%;
    display: flex;
    background-color: rgb(250, 250, 245);
    margin-bottom:  20px;
    height: 470px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 1px rgb(0 0 0 / 75%)
}

.itemInfo{
    font-size: 25px;
    padding: 10px;
}

.itemInfop{
    margin-bottom: 10px;
}

.cartFinal{
    width:50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.innerFinal{
    color: white;
    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 1px rgb(0 0 0 / 75%);
    border-radius: 5px;
}

.endButton{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.endButton:hover{
    background-color: green;
    color: white;
}

.delete{
    width:85%;   
    height: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 19px; 
}
.delete:hover{
    background-color: red;
    color: white;
}

.finalh3{
    margin-top: 10px;
    font-size: 30px;
}

.emptyCart{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin-left: 20px;
}
.emptyTitle{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.errors{
    color: red;
    font-size: 20px;
}

.userForm{
    display: none;
    flex-direction: column;
   
}
.inputForm{
    width: 100%;
    height: 30px
}
#smile{
    color: yellow;
}

.deleteObjet{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    transition: 0.2s; 
    font-size: 19px; 
}
.deleteObjet:hover{
    background-color: red;
    color: white;
    box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 75%);
}
.deleteObjet:hover #trash{
    color: white;
}