.detail{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: url(./backgroundImg.jpg);
    
    
}

.detailContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 50%;
    border-radius: 5px;
    background-color: rgb(250, 250, 245);
    box-shadow: 5px 10px 5px 5px rgb(0 0 0 / 50%);
    margin-bottom: 5px;
}
.detailMovieTitle{
    margin-top: 20px;
    font-size:50px;
    color: rgb(230, 240, 240);
}
.description{
    padding: 10px
}

.description li{
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
}
.poster{
    display: flex;
    border-radius: 5px;
}