.greeting{
    width: 100%;
    text-align: center;
    height: 0px;
    opacity: 0;
    background-color: black;
    animation-duration: 15s;
    animation-name: disapear; 
    animation-iteration-count:1 
}
.listContainer{
    background-image: url(../ItemDetail/backgroundImg.jpg);
}

@keyframes disapear{
 0%{height: 30px;
    opacity: 1;}
 50%{height: 30px;}
 100%{height: 0px;
    opacity: 0%;}
}
.loading{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url(../ItemDetail/backgroundImg.jpg);
}

.greeting p{
    color: white;
    font-size: 20px;
}

.moviesToShow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: center;
    gap: 2%;
    
}

.itemContainer{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    background-color: rgb(230, 240, 240);
    border-radius: 10px;
    transition: 1s;  
}
.itemContainer:hover{
    transform: scale(1.06);
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
}
.errorSearch{
    height: 100vh;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: yellow;
    
}

.infoContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.imageCover{
    width: 100%;
    height: 470px;
    margin-bottom: 5px;
}

.imageCoverBeer{
    width: 180px;
    height: 500px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.movieTitle{
    font-size: 20px;
}
.listTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 20px;
}


.pageTitle{
    text-align: center;
    font-size: 60px;
    color: rgb(230, 240, 240);

}

@media (max-width: 425px) {
    .greeting{
        display: none;
    }
    .itemContainer{
        width: 65%;
    }
    .imageCover{
        width: 100%;
        height: 300px;
    }
    .imageCoverBeer{
        width: 100%;
        height: 300px;
    }
    .movieTitle{
        font-size: 20px;
    }
    .listTitle{
        font-size: 30px;
    }
    .pageTitle{
        font-size: 40px;
    }
    #searchBar{
        width: 100%;
    }
}



    
