
.video{
    display: flex;

}

video{
    width: 100%;
    height: 100%;
}

.mainQuote{
    position: absolute;
    top: 30%;
    left: 16%;
    font-size: 2.5em;
    color: #fff;
}

.mainResponsive{
    width: 100%;
    height: 100vh;
    display: none
}
.backgroundImage{
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}


@media (max-width: 425px) {
    .video{
        display:none
    }
    .mainResponsive{
        display: block;
    }
    .mainQuote{
        color: red;
        margin-left: -20px
    }
}